accelerate>=0.26.0
duckduckgo-search
duckduckgo-images-api
fastai
fastbook
graphviz
jupyterlab
jupyter_contrib_nbextensions
kaggle
keras
pyldavis
matplotlib
mypy
numpy
nose2
pandas
Pillow
pip
RISE
seaborn
spacy
spacy-transformers
stanfordnlp
spacy_stanfordnlp
tabulate
tensorflow
tensorflow_hub
tensorflow-metal
tf_keras
torch
torchvision
